
*,
*::after,
*::before{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}




header{
    background-color: rgb(57, 57, 57);
    height: 50px;
    padding: 10px 100px;
    float: left;
    width: 100%;
   
}
   

body{
    font-family: sans-serif;
    background-color: rgb(57, 57, 57);
}


ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.4;
    
    
}

nav{
    float: right;
    margin-top: 10px;
}
header nav ul{
    display: flex;
    flex-direction: row;

}

nav li{
    float: right;
    margin: 0px 20px;
    background-color: rgb(57, 57, 57);
}


.GameStation{
    font-size: 30px;
    color: white;
    vertical-align: top;
}



li:hover a{
    top   : -20px;
    box-shadow : 0 0 3px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
    color: rgb(0, 81, 255);
    transition: 0.4;
}

/*-------------------------*/




main .box1{
    height: 600px;
    width: 100%;
 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('./1.jpg') no-repeat center center / cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    gap: 10px;
}
   


.box1 li{
    list-style: none;
    font-size: 15px;
    background-color: rgb(57, 57, 57);
    padding: 10px;
    margin: 20px;
}
.box1 h1{
    font-size: 35px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
}
.box1 h1 p{
    color: rgb(0, 107, 247);
}









main .box2{
    background-color: black;
    width: 100%;
    height: 300px;
    

    

}
main .box2 h1{
    width: 50%;
    height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('./ps4.jpg') no-repeat center center / cover;
    float: left;
}
main .box2 h2{
    width: 50%;
    height: 300px;
   background-color: rgb(57, 57, 57);
    float: left; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    gap: 15px;
    font-size: 14px;
    padding: 30px;


}



.box2 h2 b{
    color: rgb(0, 107, 247);
}
.box2 li{
    list-style: none;
    font-size: 15px;
    background-color: rgb(110, 109, 109);
    padding: 10px;
    color: black;
    transition: 6s;
}
.box2 a{
    transition: 0.4;
    

}
.box2 h2 p1{
    font-size: 25px;

}
.box2 h2 p{
    font-weight: 300;
    text-align: center;
}









main .box3{
    background-color: black;
    width: 100%;
    height: 200px;
    font-family: sans-serif;
    

}
main .box3 h3{
    width: 33%;
    height: 200px;
    background-color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.822);
    text-decoration: none;
    font-family: sans-serif;
    gap: 15px;
    font-size: 14px;
    padding: 30px;
    text-align: center;
    font-family: sans-serif;

}
main .box3 h4{
    width: 34%;
    height: 200px;
    background-color: rgb(44, 151, 238);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.822);
    text-decoration: none;
    font-family: sans-serif;
    gap: 15px;
    font-size: 14px;
    padding: 30px;
    text-align: center;
    font-family: sans-serif;
    

}
main .box3 h5{
    width: 33%;
    height: 200px;
     background-color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.822);
    text-decoration: none;
    font-family: sans-serif;
    gap: 15px;
    font-size: 14px;
    padding: 30px;
    text-align: center;
   

}

footer .box4{
    width: 100%;
    height: 70px;
    background-color: rgb(57, 57, 57);
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 30px;
    text-align: center;
   
}
















